# Register your config file here.
# Only paths relative to the 'config.yml' file are allowed.

# data process config
data_cfgs:
  ontonotes5: cfgs/data_cfgs/ontonotes5.yml
  conll2003: cfgs/data_cfgs/conll2003.yml
  mit_restaurant: cfgs/data_cfgs/mit_restaurant.yml
  mit_movies: cfgs/data_cfgs/mit_movies.yml

# annotation config
anno_cfgs:
  st_few_shot:  # LLM recognize entities given single type, few-shot setting
    - cfgs/single_type/anno_cfg_st_fs_5.yml
    - cfgs/single_type/anno_cfg_st_fs_1.yml
  mt_fs:  # multi-type prompt, few-shot setting
    - cfgs/multi_type/anno_cfg_mt_fs_5.yml
    - cfgs/multi_type/anno_cfg_mt_fs_1.yml
  sb_fs:  # subset type prompt, few-shot setting
    - cfgs/subset_type/anno_cfg_sb_fs_0.yml
    - cfgs/subset_type/anno_cfg_sb_fs_1.yml
    - cfgs/subset_type/anno_cfg_sb_fs_5.yml
  sc_fs:  # subset candidate prompt, few-shot setting
    - cfgs/subset_cand/anno_cfg_sc_fs_5.yml
    - cfgs/subset_cand/anno_cfg_sc_fs_1.yml

# api config
api_cfg: cfgs/api.yml

# label_cfgs config
label_cfgs:
  ontonotes5: cfgs/label_cfgs/ontonotes5.yml
  conll2003: cfgs/label_cfgs/conll2003.yml
  mit_restaurant: cfgs/label_cfgs/mit_restaurant.yml
  mit_movies: cfgs/label_cfgs/mit_movies.yml

# annotators config
annotators_cfg: cfgs/annotators.yml